




img.flex {
    width: 70%;
    height: auto;
  }
  img.move{
      cursor:move;
  }


.grid-container{
    
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto auto;
    width:800px auto;
    margin:0;
    height:400px;
    row-gap: 10%;
    cursor:unset;

}


/*the product tile*/
.grid-pic{
    
    padding: 10px;
    font-size: medium;
    text-align: right;
    
     
}

.grid-tile {
    background-image: linear-gradient(to right, teal , rgb(13, 182, 182));
    height: 220px;
    display:flex;
}

.game-details {
    font-family: "Arial Narrow", Arial;
    font-stretch: condensed;
    color:rgb(1, 59, 59);
    font-size: 25px;
}

.class_button {
    font-family: "Arial Narrow", Arial;
    
    font-weight: bold;


    transition: background-color 200ms linear;
    
    border-radius: 5px;
    border-style: solid;

    
    background-color: rgb(1, 89, 92);
    color: rgb(211, 255, 255);

    box-shadow: 0 0 2px 2px cyan;

    display:inline-block;

    border: 5px;
    margin: 0 10px 12px 10px;

    font-size: 15px;
    padding: 10px;
}

.class_button:hover {
    transition: background-color color 200ms linear;
    background-color: rgb(2, 223, 223);

    color: white;
}


.game-title-wlcart {
    font-family: Arial;
    font-size: 12px;
    
    text-shadow: 0 0 3px cyan;

    transition: color 200ms linear;
    color: white
}

.game-title-wlcart:hover {
    font-family: Arial;
    font-size: 12px;
    
    text-shadow: 0 0 3px cyan;

    transition: color 200ms linear;
    color: cyan
}




.grid-text{
    
    padding: 10px;
    font-size: medium;
    text-align: left;
    width: 200px;
     
}
.grid-buttons{
    
    padding: 17px; 
    font-size: medium;
    text-align: center;
    place-items: center;
     
}
div.buttondiv{
    padding-top: 10%;
    padding-bottom: 10%;
}
button {
    background-color: grey;
    padding: 5px 16px;
    color: white;
    width: 100%;
}

div.droparea {
    width:1000px;
    height:200px;
  }


  div.outer{
      height:500px;
      padding:5px;
  }